################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetViskositeetti/Models
/demo viskositeetti/.vs/demo viskositeetti/v15
/demo viskositeetti/demo viskositeetti/obj
