################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/
/AspNetViskositeetti/obj
/.vs/AspNetViskositeetti/v15
